<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Zdjęcia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body style="background: #000;">
    <nav class="block block--dark collapsible nav">
      <img
        src="{% static 'icons/menu.svg' %}"
        alt=""
        class="icon collapsible__toggler nav__toggler"
      />
      <div class="collapsible__content">
        <ul class="list nav__content">
          <li>
            <a href="/">Strona głowna</a>
          </li>
          <li><a href="{% url 'website:news_page' %}">Aktualności</a></li>
          <li><a href="{% url 'website:rekrutacja_page' %}">Rekrutacja</a></li>
          <li>
            <a href="{% url 'website:info_parents_page' %}"
              >Informacje dla rodziców</a
            >
          </li>
          <li>
            <a href="{% url 'website:sekretariat_page' %}">Sekretariat</a>
          </li>
          <li>
            <a
              href="{% url 'website:zdjęcia_page' %}"
              style="color: #00d9ff; font-weight: 700"
              >Zdjęcia</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <section class="block block--dark photo-block">
      <div class="photo-block__grid slider">
        <div class="container slides">
          <img src="{% static 'images/image1.webp' %}" alt="" />
          <img src="{% static 'images/image2.webp' %}" alt="" />
          <img src="{% static 'images/image3.webp' %}" alt="" />
          <img src="{% static 'images/image4.webp' %}" alt="" />
          <img src="{% static 'images/image5.webp' %}" alt="" />
          <img src="{% static 'images/image6.webp' %}" alt="" />
          <img src="{% static 'images/image7.webp' %}" alt="" />
          <img src="{% static 'images/image8.webp' %}" alt="" />
          <img src="{% static 'images/image9.webp' %}" alt="" />
          <img src="{% static 'images/image10.webp' %}" alt="" />
          <img src="{% static 'images/image11.webp' %}" alt="" />
          <img src="{% static 'images/image12.webp' %}" alt="" />
          <img src="{% static 'images/image13.webp' %}" alt="" />
        </div>
      </div>
      <button id="slider-previous-button" class="slider-button">&#10094</button>
        <button id="slider-next-button" class="slider-button">&#10095</button>
    </section>

    <footer class="block contact-block">
      <div class="container contact-block__content">
        <a href="tel: +48297721429" target="_blank"
          ><i class="fa-solid fa-phone"></i>+48297721429</a
        >
        <a
          href="mailto: zsp.myszyniec@powiatostrolecki.pl"
          target="_blank"
          class="contact-block__mail"
          ><i class="fa-solid fa-envelope"></i
          >zsp.myszyniec@powiatostrolecki.pl</a
        >
        <a
          href="https://www.google.com/maps/place/Zesp%C3%B3%C5%82+Szk%C3%B3%C5%82+Powiatowych+im.ks.+Adama+Bargielskiego+w+Myszy%C5%84cu/@53.3865742,21.341534,17z/data=!3m1!4b1!4m6!3m5!1s0x471e0f561d8ed33f:0xce5bfc54206343d6!8m2!3d53.386571!4d21.3441089!16s%2Fg%2F1hf9wnkqm?entry=ttu"
          target="_blank"
          class="contact-block__location"
          ><i class="fa-solid fa-location-dot"></i>07-430 Myszyniec, ul. Dzieci
          Polskich 5</a
        >
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/ef2d73a8ee.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
